# === Python Build ===
__pycache__/
*.py[cod]

# === Virtual Environment ===
env/
venv/

# === Environment Files ===
.env
*.env

# === Database ===
*.sqlite3
*.db
db.sqlite3

# === Logs ===
*.log
*.err
debug.log

# === Media / Uploaded Files ===
media/

# === IDE / Tools ===
.vscode/
.idea/

# === OS Metadata ===
.DS_Store
Thumbs.db

